.category-information{
  width: 85%;
  height: 86px;
  padding-top: 25px;
  position: absolute;
  top: 83%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 0, 0, 0.5);
  color: white;
}
